name: Telegram Notifications

on:
  workflow_call:
    secrets:
      TELEGRAM_CHAT_ID:
        required: true
      TELEGRAM_TOKEN:
        required: true
      MESSAGE_THREAD_ID:
        required: true
  issues:
  push:
  pull_request:
  issue_comment:
  pull_request_review:
  pull_request_review_comment:

jobs:
  notify:
    runs-on: ubuntu-latest
    steps:
      - name: Get current branch name
        id: vars
        run: echo ::set-output name=branch_name::${GITHUB_REF##*/}

      - name: Send Issues notifications to Telegram
        if: github.event_name == 'issues'
        run: curl -s -X POST https://api.telegram.org/bot${{ secrets.TELEGRAM_TOKEN }}/sendMessage -d chat_id=${{ secrets.TELEGRAM_CHAT_ID }} -d text="${MESSAGE}" -d message_thread_id={{ secrets.MESSAGE_THREAD_ID }} >> /dev/null

        env:
          # Message content
          MESSAGE: |
             The Issue [ ${{ github.event.issue.title }} ] 
            was ${{ github.event.action }} 
            by ${{ github.actor }}: 

            View issue: ${{ github.event.issue.html_url }}

      - name: Send Push notifications to Telegram
        if: github.event_name == 'push'
        run: curl -s -X POST https://api.telegram.org/bot${{ secrets.TELEGRAM_TOKEN }}/sendMessage -d chat_id=${{ secrets.TELEGRAM_CHAT_ID }} -d text="${MESSAGE}" -d message_thread_id={{ secrets.MESSAGE_THREAD_ID }} >> /dev/null
        env:
          # Message content
          MESSAGE: |
             ${{ github.event_name }} commit in ${{ github.repository }} by ${{ github.actor }}. 

            Commit Message: ${{ github.event.commits[0].message }}

            Branch: ${{ steps.vars.outputs.branch_name }}

            View changes: https://github.com/${{ github.repository }}/commit/${{github.sha}}

      - name: Send PR notifications to Telegram
        if: github.event_name == 'pull_request'
        run: curl -s -X POST https://api.telegram.org/bot${{ secrets.TELEGRAM_TOKEN }}/sendMessage -d chat_id=${{ secrets.TELEGRAM_CHAT_ID }} -d text="${MESSAGE}" -d message_thread_id={{ secrets.MESSAGE_THREAD_ID }} >> /dev/null
        env:
          # Message content
          MESSAGE: |
             ${{ github.event_name }} ${{ github.event.action }} 
            in ${{ github.repository }} by ${{ github.actor }}. 

            Branch: ${{ steps.vars.outputs.branch_name }}

            View pull request: ${{ github.event.pull_request.html_url }}

      - name: Send Issue Comment notifications to Telegram
        if: github.event_name == 'issue_comment'
        run: curl -s -X POST https://api.telegram.org/bot${{ secrets.TELEGRAM_TOKEN }}/sendMessage -d chat_id=${{ secrets.TELEGRAM_CHAT_ID }} -d text="${MESSAGE}" -d message_thread_id={{ secrets.MESSAGE_THREAD_ID }} >> /dev/null
        env:
          # Message content
          MESSAGE: |
             ${{ github.event_name }} ${{ github.event.action }} 
            in ${{ github.repository }} by ${{ github.actor }}. 

            Branch: ${{ steps.vars.outputs.branch_name }}

            View issue: ${{ github.event.issue.html_url }}

      - name: Send PR Review Comment notifications to Telegram
        if: github.event_name == 'pull_request_review'
        run: curl -s -X POST https://api.telegram.org/bot${{ secrets.TELEGRAM_TOKEN }}/sendMessage -d chat_id=${{ secrets.TELEGRAM_CHAT_ID }} -d text="${MESSAGE}" -d message_thread_id={{ secrets.MESSAGE_THREAD_ID }} >> /dev/null
        env:
          # Message content
          MESSAGE: |
             ${{ github.event_name }} ${{ github.event.action }} 
            in ${{ github.repository }} by ${{ github.actor }}. 

            Branch: ${{ steps.vars.outputs.branch_name }}

            View pull request: ${{ github.event.pull_request.html_url }}
